img{
  height: 20vh;
}

nav{
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
}

.shadow{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 6vh;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.shadow.hide {
  transform: translateY(-210%);
}
