<header>
  <nav>
    <div class="shadow" [class.hide]="isHidden">
    <a href="/podcast" class="menu-entry">PODCAST</a>
      <div class="menu-entry dropdown">
        <span>OUR STORY</span>
        <div class="dropdown-content">
          <a href="/our-story">Our Story</a>
          <a href="/members-overview">Members</a>
          <a href="/why-join">Why Join?</a>
        </div>
      </div>
    <a href="">
      <img src="assets/logo/logo_noBg.png" alt="Logo">
    </a>
    <a href="/memberships" class="menu-entry">MEMBERSHIPS</a>
    <a href="/events" class="menu-entry">EVENTS</a>
    </div>
  </nav>
</header>
