<section class="hero-section">
  <div class="video-bg">
    <video autoplay muted loop playsinline preload="auto">
      <source src="assets/video/banner.mov" type="video/mp4" />
    </video>
  </div>
  <div class="hero-gradient"></div>
  <button class="cta">JOIN US!</button>
</section>
<section class="events-section">
  <h2 class="title">Discover Our Past Events</h2>
  <p class="undertitle">Step into a world of elegance, intrigue, and distinction.
    Refined nights for men who move with style and purpose.</p>
  <button class="cta">EXPLORE OUR EVENTS!</button>
  <div class="carousel">
    <div class="carousel-track">
      <div class="carousel-item" *ngFor="let event of events; let i = index">
        <img [src]="event.mainImage" [alt]="event.title" />
        <div class="carousel-text">
          <h3>{{ event.title }}</h3>
          <p>{{ event.excerpt }}</p>
          <button>Find Our More!</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="summary-section">
  <h2>Step Into Our World</h2>
  <p>Curated highlights of our society — the people, the podcast, the stories,
    the memberships that define us</p>
  <div class="cards-box">
    <div class="card cardA">
      <img src="/assets/podcasts/02/main.png" alt="Podcast Cover">
    </div>
    <div class="card cardB">
      <img [src]="featuredMember?.mainImage" [alt]="featuredMember?.name" />
    </div>
    <div class="card cardC">
      <img src="/assets/others/Our_Story.jpg" alt="Our Story">
    </div>
    <div class="card cardD">
      <img src="/assets/others/memberships_banner.png" alt="Our Story">
      <div class="card-text">
        <h2>We are currently open to new members!</h2>
        <p>For gentlemen who value tradition, character, and refinement.</p>
        <button>Find More About Our Plans</button>
      </div>
    </div>
  </div>
</section>

