.video-bg {
  position: static;
  width: 100vw;
  inset: 0;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hero-section .cta {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  background: transparent;
  color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  border: 1px solid rgba(255,255,255,0.7);
  padding: 1rem 3rem;

  border-radius: 0;
  box-shadow: none;

  cursor: pointer;
  transition: all 0.3s ease;
}

.cta:hover {
  background: white;
  color: black;
}

.hero-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; /* adjust how much fade you want */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
  pointer-events: none; /* so it doesn't block the button */
  z-index: 1; /* above video, below button */
}

.events-section{
  background-color: black;
  text-align: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  perspective: 1200px;
  margin-top: -5vh;
}

.carousel-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-style: preserve-3d;
  margin-top:5vh;
  margin-bottom: 5vh;
}

.carousel-item {
  position: relative;
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  margin: 0 0.1vw;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  text-align: center;
  pointer-events: none;
}

.carousel-text h3 {
  padding: 0 1.8vw;
}

.carousel-text p {
  padding: 0 2vw;
  font-size: 0.7rem;
}

.carousel-text button {
  top: 75vh;
  background: transparent;
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  border: 1px solid #f2e4c3;
  padding: 0.4rem 1rem;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Show text on hover */
.carousel-item:hover .carousel-text {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:nth-child(1) {
  transform: scale(1.3) scaleX(1.3) scaleY(1.15) rotate3d(0, 1, 0, 75deg);
}

.carousel-item:nth-child(2) {
  transform: scale(1.2) rotate3d(0, 1, 0, 45deg);
}

.carousel-item:nth-child(3) {
  transform: scaleY(1.1);
}

.carousel-item:nth-child(4) {
  transform: scale(1.2) rotate3d(0, 1, 0, -45deg);
}

.carousel-item:nth-child(5) {
  transform: scale(1.3) scaleX(1.3) scaleY(1.15) rotate3d(0, 1, 0, -75deg);
}

.carousel-item:nth-child(1):hover {
  transform: scale(1.4) scaleX(1.4) scaleY(1.15) rotate3d(0, 1, 0, 75deg);
  z-index: 10;
}

.carousel-item:nth-child(2):hover {
  transform: scale(1.3) rotate3d(0, 1, 0, 45deg);
  z-index: 10;
}

.carousel-item:nth-child(3):hover {
  transform: scale(1.1) scaleY(1.15);
  z-index: 10;
}

.carousel-item:nth-child(4):hover {
  transform: scale(1.3) rotate3d(0, 1, 0, -45deg);
  z-index: 10;
}

.carousel-item:nth-child(5):hover {
  transform: scale(1.4) scaleX(1.4) scaleY(1.15) rotate3d(0, 1, 0, -75deg);
  z-index: 10;
}

.events-section .title{
  margin: 0;
  padding-top: 5vh;
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.events-section .undertitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: center;
  color: #9e9271;
  padding: 0 30vw;
}

.events-section .cta {
  top: 75vh;
  background: transparent;
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  border: 1px solid #f2e4c3;
  padding: 1rem 3rem;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2vh;
}

.summary-section {
  background-color: #f2e4c3;
  height: 100vh;
}

.events-section::after {
  content: '';
  display: block;
  height: 150px; /* adjust fade height */
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, #f2e4c3 100%);
  pointer-events: none;
}

.summary-section h2{
  margin-top: 0;
  padding-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.summary-section p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: center;
  padding: 0 30vw;
}

.cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 5vh 10vw;
}

.card {
  background-color: #1a1a1a;
  color: #f2e4c3;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32vh;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.cardA img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardB img {
  width: 100%;
  height: 100%;
  object-position: center 25%;
  object-fit: cover;
}

.cardC img {
  width: 100%;
  height: 100%;
  object-position: center 25%;
  object-fit: cover;

}

.cardD img {
  width: 100%;
  height: 100%;
  object-position: center 25%;
  object-fit: cover;
}

.card-text {
  position: absolute;
  width: 50%;
  top: 35%;
  left: 62%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
  pointer-events: none;
}

.card-text h2{
  font-size: 1.8rem;
}

.card-text p{
  width: 100%;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: #f3efd9;
}

.card-text button{
  top: 75vh;
  background: transparent;
  color: #ece6c1;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  border: 1px solid #ece6c1;
  padding: 0.8rem 1.2rem;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.cardA {
  grid-column: 1 / 3;
  grid-row: 1;
}

.cardB {
  grid-column: 3;
  grid-row: 1;
}

.cardC {
  grid-column: 1;
  grid-row: 2;
}

.cardD {
  grid-column: 2 / 4;
  grid-row: 2;
}
