.video-bg {
  position: static;
  width: 100vw;
  inset: 0;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hero-section .button {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(255,255,255,0.7);
  padding: 1rem 3rem;
}

.hero-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
  pointer-events: none;
  z-index: 1;
}

.events-section{
  background-color: black;
  text-align: center;
}

.events-section .title{
  margin: 0;
  padding-top: 5vh;
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.events-section .undertitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: center;
  color: #9e9271;
  padding: 0 30vw;
}

.events-section .button {
  padding: 1rem 3rem;
}

.carousel {
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  perspective: 1200px;
}

.carousel-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-style: preserve-3d;
  margin-top:5vh;
  margin-bottom: 5vh;
}

.carousel-item {
  position: relative;
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  margin: 0 0.1vw;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  text-align: center;
  pointer-events: none;
}

.carousel-text h3 {
  padding: 0 1.8vw;
}

.carousel-text p {
  padding: 0 2vw;
  font-size: 0.7rem;
}

.carousel-text .button {
  padding: 0.4rem 1rem;
  font-size: 0.7rem;
  z-index: 10;
}

/* Show text on hover */
.carousel-item:hover .carousel-text {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:nth-child(1) {
  transform: scale(1.3) scaleX(1.3) scaleY(1.15) rotate3d(0, 1, 0, 75deg);
}

.carousel-item:nth-child(2) {
  transform: scale(1.2) rotate3d(0, 1, 0, 45deg);
}

.carousel-item:nth-child(3) {
  transform: scaleY(1.1);
}

.carousel-item:nth-child(4) {
  transform: scale(1.2) rotate3d(0, 1, 0, -45deg);
}

.carousel-item:nth-child(5) {
  transform: scale(1.3) scaleX(1.3) scaleY(1.15) rotate3d(0, 1, 0, -75deg);
}

.carousel-item:nth-child(1):hover {
  transform: scale(1.4) scaleX(1.4) scaleY(1.15) rotate3d(0, 1, 0, 75deg);
  z-index: 10;
}

.carousel-item:nth-child(2):hover {
  transform: scale(1.3) rotate3d(0, 1, 0, 45deg);
  z-index: 10;
}

.carousel-item:nth-child(3):hover {
  transform: scale(1.1) scaleY(1.15);
  z-index: 10;
}

.carousel-item:nth-child(4):hover {
  transform: scale(1.3) rotate3d(0, 1, 0, -45deg);
  z-index: 10;
}

.carousel-item:nth-child(5):hover {
  transform: scale(1.4) scaleX(1.4) scaleY(1.15) rotate3d(0, 1, 0, -75deg);
  z-index: 10;
}

.summary-section {
  background-color: #f2e4c3;
  height: 100vh;
}

.events-section::after {
  content: '';
  display: block;
  height: 150px; /* adjust fade height */
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, #f2e4c3 100%);
  pointer-events: none;
}

.summary-section h2{
  margin-top: 0;
  padding-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.summary-section p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: center;
  padding: 0 30vw;
}

.cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 5vh 10vw;
}

.card {
  background-color: #1a1a1a;
  color: #f2e4c3;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32vh;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.cardA img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardB img {
  width: 100%;
  height: 100%;
  object-position: center 25%;
  object-fit: cover;
}

.cardC img {
  width: 100%;
  height: 100%;
  object-position: center 25%;
  object-fit: cover;

}

.cardD img {
  width: 100%;
  height: 100%;
  object-position: center 25%;
  object-fit: cover;
}

.cardD-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #f3efd9;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  transition: backdrop-filter 0.4s ease, background-color 0.4s ease;
}

.cardD-text h2{
  font-size: 1.8rem;
  margin-left: 30%;
  width: 50%;
  padding-top: 5%;
  margin-bottom: 0;
}

.cardD-text p{
  width: 50%;
  font-size: 1rem;
  font-weight: normal;
  color: #f3efd9;
  margin-left: 30%;
}

.cardD-text .button{
  padding: 0.8rem 1rem;
  margin-left: 30%;
  margin-top: 0;
}

.cardD-text:hover{
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
}

.cardA {
  grid-column: 1 / 3;
  grid-row: 1;
}

.card-text{
  backdrop-filter: blur(5px);
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f3efd9;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.3s ease;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  align-items: center;
}

.card-text h2{
  padding: 5% 20% 0 20%;
  margin-bottom: 0;
  margin-top: 1rem;
}

.card-text h3{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.card-text p{
  padding: 0 20%;
  font-size: 1rem;
}

.card-text button{
  margin-top: 0;
  padding: 0.8rem 1rem;
}

.cardA:hover .card-text{
  opacity: 1;
}

.cardB:hover .card-text{
  opacity: 1;
}

.cardC:hover .card-text{
  opacity: 1;
}

.cardB {
  grid-column: 3;
  grid-row: 1;
}

.cardC {
  grid-column: 1;
  grid-row: 2;
}

.cardD {
  grid-column: 2 / 4;
  grid-row: 2;
}

.button {
  top: 75vh;
  background: transparent;
  color: #f2e4c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  border: 1px solid #f2e4c3;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.button:hover {
  background: #f2e4c3;
  color: #1a1a1a;
  box-shadow: 0 6px 18px rgba(0,0,0,0.3);
  transform: scale(1.05);
}

.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate.visible {
  opacity: 1;
  transform: translateY(0);
}

.cards-box .card:nth-child(1) {
  transition-delay: 0.1s;
}
.cards-box .card:nth-child(2) {
  transition-delay: 0.2s;
}
.cards-box .card:nth-child(3) {
  transition-delay: 0.1s;
}
.cards-box .card:nth-child(4) {
  transition-delay: 0.2s;
}
