<div class="component-wrapper">
  <section class="overview-section">
    <div class="overview-container">
      <div class="left-side">
        <div class="main">
          <h1 class="animate" appScrollAnimate>PODCASTUL</h1>
          <p class="animate" appScrollAnimate>ETICHETE SI SUETE</p>
          <p class="animate" appScrollAnimate>THE MOST ELEGANT PODCAST IN ROMANIA</p>
          <p class="animate" appScrollAnimate>Join us every two weeks as we explore the art of etiquette,
            the craftsmanship behind a perfect suit, and the timeless principles of elegance.
            Each episode brings conversations, tips, and stories for men who value style,
            character, and refinement.</p>
        </div>
        <div class="find-us animate" appScrollAnimate>
          <a class="youtube" href="https://www.youtube.com/@EtiquetteSociety" target="_blank">
            <i class="bi bi-youtube"></i>
            <div class="find-us-text">
              <p class="available-on">Available on</p>
              <p class="platform">YouTube</p>
            </div>
          </a>
          <a class="spotify" href="https://open.spotify.com/show/1KF28BvMXQO5Vo3M2DaPvL?si=5757140bcd874698"
             target="_blank">
            <i class="bi bi-spotify"></i>
            <div class="find-us-text">
              <p class="available-on">Available on</p>
              <p class="platform">Spotify</p>
            </div>
          </a>
        </div>
      </div>
      <div class="right-side">
        <div class="card-container">
          <div class="animate card-animation" appScrollAnimate>
            <div class="card cardA">
              <div>
                <iframe data-testid="embed-iframe" style="border-radius:50px"
                        src="https://player.spotify.com/embed/show/1KF28BvMXQO5Vo3M2DaPvL?utm_source=generator"
                        allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
              </div>
            </div>
          </div>
          <div class="animate card-animation2" appScrollAnimate>
            <div class="card cardB"></div>
          </div>
          <div class="animate card-animation3" appScrollAnimate>
            <div class="card cardC"></div>
          </div>
          <div class="animate card-animation4" appScrollAnimate>
            <div class="card cardD">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ipF7F1Pc8_k?si=A15iqAw6b5mO9Wzl"
                      title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="previous-episodes-section">
    <h1 class="animate" appScrollAnimate>OUR LATEST EPISODES</h1>
    <p class="animate" appScrollAnimate>Discover the rules behind the art of being a gentleman</p>
    <div class="episodes-wrapper">
      <div class="episode animate" appScrollAnimate>
        <iframe data-testid="embed-iframe" style="border-radius:12px"
                src="https://player.spotify.com/embed/episode/50pMpESjcveJyK0bC8xQed?utm_source=generator"
                width="100%" height="152" frameborder="0" allowfullscreen
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
      </div>
      <div class="episode-separator animate" appScrollAnimate></div>
      <div class="episode animate" appScrollAnimate>
        <iframe data-testid="embed-iframe" style="border-radius:12px"
                src="https://player.spotify.com/embed/episode/5oqO4tlvxto6Z8ke1rAmpC?utm_source=generator"
                width="100%" height="152" frameborder="0" allowfullscreen
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
      </div>
      <div class="episode-separator animate" appScrollAnimate></div>
      <div class="episode animate" appScrollAnimate>
        <iframe data-testid="embed-iframe" style="border-radius:12px"
                src="https://player.spotify.com/embed/episode/7lsuayh4eOD7x0b6hrj6Jt?utm_source=generator"
                width="100%" height="152" frameborder="0" allowfullscreen
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
      </div>
    </div>
  </section>
</div>
