<footer>
  <div class="footer-container">
    <div class="footer-section">
      <p>"There is nothing noble about being superior to your fellow men. True nobility lies in being superior to your former self."</p>
      <nav class="social-links">
        <a href="https://www.youtube.com/@EtiquetteSociety" target="_blank"><i class="bi bi-youtube"></i></a>
        <a href="https://www.instagram.com/the.etiquette.society" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://open.spotify.com/show/1KF28BvMXQO5Vo3M2DaPvL?si=4228128baa3d45a0" target="_blank"><i class="bi bi-spotify"></i></a>
      </nav>
    </div>

    <img src="assets/logo/logo_noBg.png" alt="Logo" width="150">

    <div class="footer-section">
      <h3>Useful Links</h3>
      <nav>
        <a routerLink="/our-story">OUR STORY</a>
        <a routerLink="/members-overview">MEMBERS</a>
        <a routerLink="/events-overview">EVENTS</a>
        <a routerLink="/memberships">MEMBERSHIPS</a>
        <a routerLink="/podcast">PODCAST</a>
      </nav>
    </div>
  </div>

  <hr>
  <p class="copyright">
    © Copyright 2026 Etiquette Society ◦ All Rights Reserved
  </p>
</footer>
